/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 70px; /* Adjust the size of your logo */
    height: 75px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    text-align: center;
    padding: 40px;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
}
